
@{
    ViewData["Title"] = "Fox";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Fox Paulistinha</h1>
            <a asp-action="Index">Página Inicial</a><br>
            <img src="../img/fox.jpg" alt="fox paulistinha" width="300"><br>
            <p>Terrier brasileiro, conhecido informalmente como Fox paulistinha, uma raça de cães do tipo terrier, de porte médio para pequeno, oriunda do Brasil.</p>
            <a asp-action="ViraLata"><-Anterior</a> | <a asp-action="Poodle">Próximo-></a>
        </div>
    </div>

