
@{
    ViewData["Title"] = "Raças";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Raças de Cachorro</h1>
            <img src="~/img/filhotes.jpg" alt="filhotes de cachorro" width="300"><br>
            <p>O cão, no Brasil também chamado de cachorro, é um mamífero carnívoro da família dos canídeos, subespécie do lobo, e talvez o mais antigo animal domesticado pelo ser humano. Teorias postulam que surgiu do lobo cinzento no continente asiático há mais de 100 000 anos. Abaixo temos alguns exemplos de raças:</p>
            <ul class="semPontos">
                <li><a asp-action="ViraLata">Vira-lata</a></li>
                <li><a asp-action="Fox">Fox Paulistinha</a></li>
                <li><a asp-action="Poodle">Poodle</a></li>
                <li><a asp-action="Pug">Pug</a></li>
                <li><a asp-action="ShihTzu">Shih Tzu</a></li>
                <li><a asp-action="Pastor">Pastor Alemão</a></li>
            </ul>
        </div>
    </div>

