
@{
    ViewData["Title"] = "Pastor Alemão";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Pastor Alemão</h1>
            <a asp-action="Index">Página Inicial</a><br>
            <img src="../img/pastor.png" alt="pastor Alemão" width="300"><br>
            <p>Pastor-alemão ou lobo-da-alsácia é uma raça canina proveniente da Alemanha. Em sua origem era utilizado como cão de pastoreio de rebanhos. Atualmente é mais utilizado como cão de guarda e cão policial.</p>
            <a asp-action="ShihTzu"><-Anterior</a>
        </div>
    </div>

