
@{
    ViewData["Title"] = "Poodle";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Poodle</h1>
            <a asp-action="Index">Página Inicial</a><br>
            <img src="../img/poodle.jpg" alt="poodle" width="300"><br>
            <p>Poodle, de acordo com a Federação Cinológica Internacional é oriunda da França, por ter sido reivindicada, porém ela já era há muito tempo criada em países da Europa Central como a Alemanha. Originalmente, era utilizado como cão de caça a aves aquáticas.</p>
            <a asp-action="Fox"><-Anterior</a> | <a asp-action="Pug">Próximo-></a>
        </div>
</div>

