
@{
    ViewData["Title"] = "Pug";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Pug</h1>
            <a asp-action="Index">Página Inicial</a><br>
            <img src="../img/pug.jpg" alt="pug" width="300"><br>
            <p>Pug é uma raça de cão de companhia de pequeno porte, com focinho achatado e cauda enrolada. São cães braquicefálicos, ou seja, têm o focinho "achatado". Cães com essa características tem o sistema respiratório superior comprimido e portanto não toleram muito exercício físico.</p>
            <a asp-action="Poodle"><-Anterior</a> | <a asp-action="ShihTzu">Próximo-></a>
        </div>
</div>

