
@{
    ViewData["Title"] = "Shih Tzu";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Shih Tzu</h1>
            <a asp-action="Index">Página Inicial</a><br>
            <img src="../img/shih-tzu.jpg" alt="shih tzu" width="300"><br>
            <p>O cão da raça Shih Tzu tem o focinho achatado, ou síndrome braquicefálica, o que pode prejudicar a respiração em atividades físicas com movimentações mais intensas. Nos dias de calor, frio e umidade excessivos, esse problema tende a piorar e deixar o animal ainda mais sensível.</p>
            <a asp-action="Pug"><-Anterior</a> | <a asp-action="Pastor">Próximo-></a>
        </div>
    </div>

