
@{
    ViewData["Title"] = "Vira-Lata";
}

<div class="boxFlex">
        <div class="center fundoCinza">
            <h1>Vira-lata</h1>
            <a asp-action="Index">Página Inicial</a><br>
            <img src="../img/caramelo.jpg" alt="vira-lata caramelo" width="300"><br>
            <p>O termo vira-lata já foi bastante pejorativo no Brasil e mesmo os doguinhos caramelo não eram os preferidos há algum tempo. Existe também o termo SRD (sem raça definida), usada para esses dóceis cães.</p>
            <a asp-action="Fox">Próximo-></a>
        </div>
    </div>

